<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML241ENSkillsNetwork820-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# ***Machine Learning Foundation***

## ***K-Nearest Neighbor LAB***

$ \ $

----

## ***Introduction and Learning Goals***

In this lab, we will explore classification using the $K$-Nearest Neighbors approach. We will use a customer churn dataset from the telecom industry, which includes customer data such as:

* long-distance usage,

* data usage, 

* monthly revenue,

* types of offerings, 

* and other services purchased by customers. 

The data, based on a fictional telecom firm, includes several Excel files which have been combined and are available in the course materials. We are using the subset of customers who have phone accounts. Since the data includes a mix of numeric, categorical, and ordinal variables, we will load this data and do some preprocessing. Then we will use $K$-nearest neighbors to predict customer churn rates.

$ \ $ 

---

## ***Objectives***

After completing this lab, you should have a working understanding of how to preprocess a variety of variables to apply the $K$-Nearest Neighbors algorithm, understand how to choose $K$, and understand how to evaluate model performance.

$ \ $

----

## ***Importing packages***

We import some important libraries and Ignore any deprecation warnings.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os, sys, seaborn as sns
from sklearn.preprocessing import LabelBinarizer, LabelEncoder, OrdinalEncoder

In [ ]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

$ \ $

---

## ***Question $(1)$***

$ \ $

$(1)$ We begin by importing the data.

In [19]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML241EN-SkillsNetwork/labs/datasets/churndata_processed.csv")

In [23]:
data = pd.read_csv("/content/Telco_customer_churn.csv", sep = ";" )
data

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783","33,964131","-118,272783",Male,...,Month-to-month,Yes,Mailed check,"53,85","108,15",Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742","34,059281","-118,307420",Female,...,Month-to-month,Yes,Electronic check,"70,7","151,65",Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953","34,048013","-118,293953",Female,...,Month-to-month,Yes,Electronic check,"99,65","820,5",Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709","34,062125","-118,315709",Female,...,Month-to-month,Yes,Electronic check,"104,8","3046,05",Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293","34,039224","-118,266293",Male,...,Month-to-month,Yes,Bank transfer (automatic),"103,7","5036,3",Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416","34,341737","-116,539416",Female,...,Two year,Yes,Bank transfer (automatic),"21,15","1419,4",No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183","34,667815","-117,536183",Male,...,One year,Yes,Mailed check,"84,8","1990,5",No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164","34,559882","-115,637164",Female,...,One year,Yes,Credit card (automatic),"103,2","7362,9",No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433","34,167800","-116,864330",Female,...,Month-to-month,Yes,Electronic check,"29,6","346,45",No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503","34,424926","-117,184503",Male,...,Two year,Yes,Bank transfer (automatic),"105,65","6844,5",No,0,38,5097,NaN

$ \ $

$(2)$ Examine the columns.

In [ ]:
df.columns

Index(['months', 'multiple', 'gb_mon', 'security', 'backup', 'protection',
       'support', 'unlimited', 'contract', 'paperless', 'monthly',
       'satisfaction', 'churn_value', 'payment_Credit Card',
       'payment_Mailed Check', 'internet_type_DSL',
       'internet_type_Fiber Optic', 'internet_type_None', 'offer_Offer A',
       'offer_Offer B', 'offer_Offer C', 'offer_Offer D', 'offer_Offer E'],
      dtype='object')

In [24]:
data.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')


$ \ $

$(3)$ Notice that the data contains a unique ID, an indicator for phone customer status, total lifetime value, total revenue, and a bank-estimated churn score. We will not be using these features, so they can be dropped from the data.

In [ ]:
df

,months,multiple,gb_mon,security,backup,protection,support,unlimited,contract,paperless,...,payment_Credit Card,payment_Mailed Check,internet_type_DSL,internet_type_Fiber Optic,internet_type_None,offer_Offer A,offer_Offer B,offer_Offer C,offer_Offer D,offer_Offer E
0,0.00,0,0.094118,0,0,1,0,0,0.0,1,...,0,0,1,0,0,0,0,0,0,0
1,0.00,1,0.200000,0,1,0,0,1,0.0,1,...,1,0,0,1,0,0,0,0,0,1
2,0.25,1,0.611765,0,0,0,0,1,0.0,1,...,0,0,0,1,0,0,0,0,1,0
3,0.25,0,0.141176,0,1,1,0,1,0.0,1,...,0,0,0,1,0,0,0,1,0,0
4,0.50,1,0.164706,0,0,0,0,1,0.0,1,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1.00,0,0.000000,0,0,0,0,0,1.0,1,...,0,0,0,0,1,0,0,0,0,0
7039,0.25,1,0.282353,1,0,1,1,1,0.5,1,...,0,1,0,0,0,0,0,1,0,0
7040,1.00,1,0.694118,0,1,1,0,1,0.5,1,...,1,0,0,1,0,0,0,0,0,0
7041,0.00,0,0.200000,1,0,0,0,1,0.0,1,...,0,0,1,0,0,0,0,0,0,0
7042,1.00,0,0.129412,1,0,1,1,1,1.0,1,...,0,0,0,1,0,0,0,0,0,0

In [25]:
data

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783","33,964131","-118,272783",Male,...,Month-to-month,Yes,Mailed check,"53,85","108,15",Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742","34,059281","-118,307420",Female,...,Month-to-month,Yes,Electronic check,"70,7","151,65",Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953","34,048013","-118,293953",Female,...,Month-to-month,Yes,Electronic check,"99,65","820,5",Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709","34,062125","-118,315709",Female,...,Month-to-month,Yes,Electronic check,"104,8","3046,05",Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293","34,039224","-118,266293",Male,...,Month-to-month,Yes,Bank transfer (automatic),"103,7","5036,3",Yes,1,89,5340,Competitor had better devices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416","34,341737","-116,539416",Female,...,Two year,Yes,Bank transfer (automatic),"21,15","1419,4",No,0,45,5306,NaN
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183","34,667815","-117,536183",Male,...,One year,Yes,Mailed check,"84,8","1990,5",No,0,59,2140,NaN
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164","34,559882","-115,637164",Female,...,One year,Yes,Credit card (automatic),"103,2","7362,9",No,0,71,5560,NaN
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433","34,167800","-116,864330",Female,...,Month-to-month,Yes,Electronic check,"29,6","346,45",No,0,59,2793,NaN
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503","34,424926","-117,184503",Male,...,Two year,Yes,Bank transfer (automatic),"105,65","6844,5",No,0,38,5097,NaN

$ \ $

$(4)$ Begin by taking an initial look at the data, including both numeric and non-numeric features.

In [ ]:
df.dtypes

months                       float64
multiple                       int64
gb_mon                       float64
security                       int64
backup                         int64
protection                     int64
support                        int64
unlimited                      int64
contract                     float64
paperless                      int64
monthly                      float64
satisfaction                 float64
churn_value                    int64
payment_Credit Card            int64
payment_Mailed Check           int64
internet_type_DSL              int64
internet_type_Fiber Optic      int64
internet_type_None             int64
offer_Offer A                  int64
offer_Offer B                  int64
offer_Offer C                  int64
offer_Offer D                  int64
offer_Offer E                  int64
dtype: object

In [26]:
data.dtypes

CustomerID           object
Count                 int64
Country              object
State                object
City                 object
Zip Code              int64
Lat Long             object
Latitude             object
Longitude            object
Gender               object
Senior Citizen       object
Partner              object
Dependents           object
Tenure Months         int64
Phone Service        object
Multiple Lines       object
Internet Service     object
Online Security      object
Online Backup        object
Device Protection    object
Tech Support         object
Streaming TV         object
Streaming Movies     object
Contract             object
Paperless Billing    object
Payment Method       object
Monthly Charges      object
Total Charges        object
Churn Label          object
Churn Value           int64
Churn Score           int64
CLTV                  int64
Churn Reason         object
dtype: object

$ \ $ 

----

## ***Question $(2)$***

$ \ $

$(1)$ Identify which variables are binary and and numeric.

In [ ]:
# creamos una lista, donde cada elemento es una lista con un unico elemento de la forma (columna,len(columna.unique()))
lista = [[col, len(df[col].unique())] for col in df.columns]

# creamos un dataframe con la lista anterior 
df_uniques = pd.DataFrame(lista, columns = ['Variable', 'Unique Values']).set_index('Variable')
df_uniques

                           Unique Values
Variable
months                                 5
multiple                               2
gb_mon                                50
security                               2
backup                                 2
protection                             2
support                                2
unlimited                              2
contract                               3
paperless                              2
monthly                             1585
satisfaction                           5
churn_value                            2
payment_Credit Card                    2
payment_Mailed Check                   2
internet_type_DSL                      2
internet_type_Fiber Optic              2
internet_type_None                     2
offer_Offer A                          2
offer_Offer B                          2
offer_Offer C                          2
offer_Offer D                          2
offer_Offer E                          2

In [ ]:
# creamos un dataframe que describa solo la data binaria
subframe = df_uniques[df_uniques['Unique Values'] == 2]

# creamos una lista que describa las columnas binarias del dataframe df
binary_variables = list(subframe.index)
binary_variables

['multiple',
 'security',
 'backup',
 'protection',
 'support',
 'unlimited',
 'paperless',
 'churn_value',
 'payment_Credit Card',
 'payment_Mailed Check',
 'internet_type_DSL',
 'internet_type_Fiber Optic',
 'internet_type_None',
 'offer_Offer A',
 'offer_Offer B',
 'offer_Offer C',
 'offer_Offer D',
 'offer_Offer E']

In [29]:
# creamos una lista, donde cada elemento es una lista con un unico elemento de la forma (columna,len(columna.unique()))
lista = [[col, len(data[col].unique())] for col in data.columns]

# creamos un dataframe con la lista anterior
data_uniques = pd.DataFrame(lista, columns = ['Variable', 'Unique Values']).set_index('Variable')
data_uniques

                   Unique Values
Variable
CustomerID                  7043
Count                          1
Country                        1
State                          1
City                        1129
Zip Code                    1652
Lat Long                    1652
Latitude                    1652
Longitude                   1651
Gender                         2
Senior Citizen                 2
Partner                        2
Dependents                     2
Tenure Months                 73
Phone Service                  2
Multiple Lines                 3
Internet Service               3
Online Security                3
Online Backup                  3
Device Protection              3
Tech Support                   3
Streaming TV                   3
Streaming Movies               3
Contract                       3
Paperless Billing              2
Payment Method                 4
Monthly Charges             1585
Total Charges               6531
Churn Label                    2
Churn Value                    2
Churn Score                   85
CLTV                        3438
Churn Reason                  21

In [30]:
# creamos un dataframe que describa solo la data binaria
subframe = data_uniques[data_uniques['Unique Values'] == 2]

# creamos una lista que describa las columnas binarias del dataframe df
binary_variables = list(subframe.index)
binary_variables

['Gender',
 'Senior Citizen',
 'Partner',
 'Dependents',
 'Phone Service',
 'Paperless Billing',
 'Churn Label',
 'Churn Value']

$ \ $

$(2)$ We describe the variables betwenn 3 and 6 diferent values.

In [ ]:
# creamos la mascara pedida que describe los elementos en la columna 'Unique Values' entre 3 y 6
mask = (df_uniques['Unique Values'] >= 3) & (df_uniques['Unique Values'] <= 6)

# creamos una lista que contiene los indices de df_uniques sobre la mask
some_variables = list(df_uniques[mask].index)

# mostramos la lista creada anteriormente en pantalla. Esta lista muestra cuales columnas del dataframe df tienen entre 3 y 6 valores diferentes 
some_variables

['months', 'contract', 'satisfaction']

In [ ]:
# creamos una lista que muestre cuales son los posibles resultados de categorical_variables
[[i, list(df[i].unique())] for i in some_variables]

[['months', [0.0, 0.25, 0.5, 1.0, 0.75]],
 ['contract', [0.0, 0.5, 1.0]],
 ['satisfaction', [0.5, 0.25, 0.0, 0.75, 1.0]]]

$ \ $

----

## ***Question $(3)$***

$ \ $

$(1)$ Having set up the variables, remember that the K-nearest neighbors algorithm uses distance and hence requires scaled data. 

$ \ $

$(2)$ Scale the data using one of the scaling methods discussed in the course.


$ \ $

$(3)$ Save the processed dataframe as a comma-separated file: 'churndata_processed.csv'

In [ ]:
lb, le = LabelBinarizer(), LabelEncoder()

In [ ]:
for column in ordinal_variables:
    df[column] = le.fit_transform(df[column])